* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1630;
}

h4 {
  letter-spacing: 2px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.left-container {
  width: 40%;
  height: 100%;
  border: 2px solid green;
  margin-right: 1%;
  border-radius: 10px;
  padding-left: 20px;
}

#row-name {
  width: 80%;
}
#row-img {
  width: 20%;
}

.right-container {
  width: 60%;
  height: 100%;
  border: 2px solid green;
  margin-left: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#form {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#search {
  font-size: 0.95rem;
  padding-left: 20px;
}

#chat-list-container {
  overflow-y: scroll;
  max-height: 500px;
}

#chat-list-container::-webkit-scrollbar {
  width: 5px;
}

#chat-list-container::-webkit-scrollbar-thumb {
  background-color: #157347; /* Change the background color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}
#chat-list-container::-webkit-scrollbar-track {
  background-color: #0e1630; /* Change the background color of the track */
}

.message-stack {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20px;
}

.message-stack-display {
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 400px;
}

.message-stack-display::-webkit-scrollbar {
  width: 5px;
}

.message-stack-display::-webkit-scrollbar-thumb {
  background-color: #157347; /* Change the background color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.message-stack-display::-webkit-scrollbar-track {
  background-color: #0e1630; /* Change the background color of the track */
}

.message-stack-display div.user {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.message-stack-display div.user p {
  padding: 10px;
  background-color: #157347;
  color: #fff;
  border-radius: 15px 15px 15px 0; /* Apply border-radius to the top-left, top-right, bottom-right, and bottom-left corners */
  position: relative;
}

.message-stack-display div:not(.user) {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.message-stack-display div:not(.user) p {
  padding: 10px;
  background-color: #2825f5;
  color: #fff;
  border-radius: 15px 0 15px 15px; /* Apply border-radius to the top-left, top-right, bottom-right, and bottom-left corners */
  position: relative;
}

.right-container-menu {
}

.right-container-user {
}
