* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1630;
}

.custom-btn {
  background-color: transparent;
  color: green;
  margin-right: 1rem;
  border: none;
}
