* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #157347; /* Change the background color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #0e1630; /* Change the background color of the track */
}

/* Media query to hide the scrollbar on screens with a maximum width of 600px */
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0; /* Set the width to 0 to hide the scrollbar */
  }
}

body {
  background-color: #0e1630;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3,
h4 {
  line-height: 3rem;
}

p {
  line-height: 2rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

.custom-header {
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #0e1630;
}

.custom-header div {
  height: 90px;
}

#section1 {
  margin-top: 100px;
}

.section1-container {
  width: 100%;
  overflow: hidden;
  height: 600px;
}

.sub1-container {
  width: 50%;
  height: 100%;
}
.sub2-container {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.sub2-container img {
  width: 75%;
  height: 75%;
  border: 2px solid #0e1630;
  border-radius: 30%;
  object-fit: cover;
}
